{% extends 'layouts/master.html' %}

{% block title %}
    Seller - Detail
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>This is seller detail page</h1>
    <hr>
    <h1>Username: {{ data.username }}</h1>
    <p>First Name: {{ data.first_name }}</p>
    <p>Last Name: {{ data.last_name }}</p>
    <p>Address: {{ data.address }}</p>
    <p>Contact: {{ data.contact }}</p>
    <p>Email: {{ data.email }}</p>
    <p>Total Earnings: {{ data.total_earnings }}</p>
    <a href="{% url 'index-seller' %}" class="btn btn-primary mt-3">BACK</a>
</div>
{% endblock %}