{% extends 'layouts/buyer_master.html' %}

{% block title %}
    Order - List
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
{% endblock %}

{% block content %}
<div class="container mt-5">

    {% include "partials/_message.html" %}

    <h1>This is Order list page</h1>
    <hr>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
              <form class="d-flex" role="search" action="{% url 'order-index' %}" method="POST">
                {% csrf_token %}
                <input style="height: 30px;" class="form-control me-2" type="text" name="search" placeholder="Search by item name." aria-label="Search">
                <button class="btn btn-primary mb-3 mr-3" type="submit" style="height:30px; width: 160px; padding: 0px;"><i class="fa-solid fa-search"></i>Search</button>
                <a href="{% url 'order-index' %}" class="btn btn-primary mb-3 ml-2"  style="height:30px; width: 160px; padding: 0px; margin-left: 5px;">Clear</a>
              </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped-columns table-hover">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Item Name</th>
                        <th>Order Quantity</th>
                        <th>Total Cost</th>
                        <th>Order Date</th>
                        <th>Order Status</th>
                        <th>Customer Name</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for val in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ val.order_id.item_id.item_name }}</td>
                            <td>{{ val.order_id.order_quantity }}</td>
                            <td>{{val.order_id.total_cost}}</td>
                            <td>{{ val.order_id.order_date }}</td>
                            <td>{{ val.order_id.order_status }}</td>
                            <td>{{ val.customusers.first_name }}</td>
                            <td><a class="btn btn-primary btn-sm" href="{% url 'buyer-bill-index' val.id %}">Bill</a></td>
                            {% if val.bill_status == "Unpaid" %}
                              <td><a class="btn btn-success btn-sm" href="{% url 'payment-create' val.id %}" aria-disabled="false">Payment</a></td>
                            {% else %}
                              <td><button class="btn btn-success btn-sm" disabled>Paid</button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}