{% extends 'layouts/seller_master.html' %}

{% block title %}
    Item - List
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
{% endblock %}

{% block content %}
<div class="container mt-5">

    {% include "partials/_message.html" %}

    <h1>Items</h1>
    <hr>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
              <form class="d-flex" role="search" action="{% url 'index-seller' %}" method="POST">
                {% csrf_token %}
                <input style="height: 30px;" class="form-control me-2" type="text" name="search" placeholder="Search by first name." aria-label="Search">
                <button class="btn btn-primary mb-3 mr-3" type="submit" style="height:30px; width: 160px; padding: 0px;"><i class="fa-solid fa-search"></i>Search</button>
                <a href="{% url 'index-seller' %}" class="btn btn-primary mb-3 ml-2"  style="height:30px; width: 160px; padding: 0px; margin-left: 5px;">Clear</a>
              </form>
        </div>
    </nav>
    <div class="card" style="width: 18rem;">
      {% for val in data %}
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ val.item_name }}</h5>
          <p class="card-text">{{ val.item_description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link">Remove</a>
        </div>
      {% endfor %}
    </div>
    <a href="{% url 'item-add' %}" class="btn btn-primary mb-3"><i class="fa-solid fa-plus"></i> Add</a>
</div>
{% endblock %}