{% extends 'layouts/master.html' %}

{% block title %}
    Buyer - Detail
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>This is buyer detail page</h1>
    <hr>
    <h1>Username: {{ data.username }}</h1>
    <p>First Name: {{ data.first_name }}</p>
    <p>Last Name: {{ data.last_name }}</p>
    <p>Address: {{ data.address }}</p>
    <p>Contact: {{ data.contact }}</p>
    <p>Email: {{ data.email }}</p>

    <h2>Bills</h2>
    <ul>
    {% for bill in bill %}
        <li>Bill ID: {{ bill.id }}, Bill Status: {{ bill.bill_status }}</li>
    {% empty %}
        <li>No bills yet.</li>
    {% endfor %}
    </ul>
    <a href="{% url 'index-buyer' %}" class="btn btn-primary mt-3">BACK</a>
</div>
{% endblock %}