{% extends 'layouts/seller_master.html' %}

{% block title %}
    Bill - Add
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex-row justify-content-center">
        
        <div class="card p-2 mt-3" style="border-radius: 0%;
         max-width: 75%;" >
         <h1>This is Bill add page</h1>
         <hr>
         {% for val in od%}
            <label for="">Order Id:{{val.id}}</label>
         {% endfor %}
          {% comment %} {% load crispy_forms_tags %}
            <form action="{% url 'bill-add' order_id=order.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-3">ADD BILL</button>
                <a href="{% url 'bill-index' %}" class="btn btn-primary mt-3">BACK</a>
              </form> {% endcomment %}
        </div>
</div>
{% endblock %}